[build]
builder = "nixpacks"

[deploy]
startCommand = "npx prisma generate && npx prisma migrate deploy && node server.js"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10
